@media screen and (min-width: 375px) {
  button > p {
    display: block;
  }
  .icon {
    margin-right: 8px;
  }
}
@media screen and (max-width: 375px) {
  #list {
    display: grid;
    gap: 25px;
    grid-template-columns: auto;
  }
}
