* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--bg_body, #fff);
}
p,
label,
h2,
h4 {
  color: var(--body-text, #000);
}
.container {
  padding: 3px 37px;
}
.header-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--bg_default, #fff);
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}

.main-title {
  text-decoration: none;
  color: var(--brand-primary, #0768ac);
  font-size: large;
}
.main-title:focus {
  text-decoration: none;
}
.control-buttons {
  display: flex;
  flex-flow: row nowrap;
  width: max-content;
  gap: 4px;
}

.outlined-button {
  font-size: 0.7em;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;
  color: var(--body-text, #fff);
  flex-flow: row nowrap;
  background-color: transparent;
  border: 1px solid var(--lines-color, #e9e0e0);
  border-radius: 4px;
  cursor: pointer;
}

.pentagon-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: end;
  height: 80px;
  background-image: linear-gradient(
    to right,
    var(--brand-primary),
    var(--brand-secondary)
  );
}
.pentagon {
  display: flex;
  width: 100%;
  height: 75%;
  justify-content: center;
  align-items: center;
  background: var(--bg_default);
  clip-path: polygon(50% 0%, 100% 50%, 100% 100%, 0% 100%, 0 50%);
}
.pentagon-content {
  width: max-content;
}
.pentagon-content > p {
  font-size: 0.7em;
}
.welcome-header {
  color: var(--brand-secondary);
  font-size: 1em;
}

.website_logo {
  font-weight: 600;
  font-size: 0.9em;
}

#welcome_content {
  display: flex;
  width: 100%;
  height: 107px;
  min-height: max-content;
  flex-flow: column nowrap;
  align-items: center;
  justify-self: center;
  background-image: linear-gradient(
    to right,
    var(--brand-primary),
    var(--brand-secondary)
  );
}
#welcome_content > div {
  width: 100%;
  padding: 25px 16px;
}
#welcome_phrase {
  font-weight: bolder;
  font-size: larger;
  color: var(--brand-secondary);
}

#normal_paragraph {
  font-size: 0.9em;
  color: black;
}

.button_area {
  display: flex;
  gap: 4px;
  margin: 0px 16px;
}

.icon {
  width: 0.9rem;
  height: 0.9rem;
  color: var(--body-text, #000);
}

button > p {
  display: none;
}

#list {
  display: grid;
  gap: 25px;
  grid-template-columns: auto auto auto auto auto;
}
.card {
  height: min-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-decoration: none;
  border-radius: 5px;
  background-color: var(--bg_default, #fff);
}

img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  background-color: #fff;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card_container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  padding: 2px 16px;
  height: 120px;
}

.rating {
  display: inline-block;
  margin-top: 4px;
}

.stars {
  display: inline-block;
  font-size: 1.2em;
  color: orange;
}

.stars::before {
  content: "☆☆☆☆☆";
  display: inline-block;
}

.stars span {
  display: inline-block;
  width: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  color: #4caf50;
}

.stars span:before {
  content: "☆☆☆☆☆";
  letter-spacing: 3px;
  display: inline-block;
  color: #ccc;
  text-shadow: 1px 1px #aaa;
}

.stars-0 span {
  width: 0;
}
.stars-1 span {
  width: 20%;
}
.stars-2 span {
  width: 40%;
}
.stars-3 span {
  width: 60%;
}
.stars-4 span {
  width: 80%;
}
.stars-5 span {
  width: 100%;
}
.stars-0 span:before {
  content: "☆☆☆☆☆";
}
.stars-1 span:before {
  content: "★☆☆☆☆";
}
.stars-2 span:before {
  content: "★★☆☆☆";
}
.stars-3 span:before {
  content: "★★★☆☆";
}
.stars-4 span:before {
  content: "★★★★☆";
}
.stars-5 span:before {
  content: "★★★★★";
}

.subtitle {
  font-size: 0.7em;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
}

#title {
  font-size: 0.8em;
  font-weight: 600;
}

#author_container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#author_container > label {
  font-size: 0.7em;
  font-weight: 600;
  color: #999999;
}

#author {
  margin-left: 4px;
  font-size: 0.7em;
  font-weight: 600;
  color: #999999;
}
#control_section {
  margin: 16px;
  background-color: var(--bg_default, #fff);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
#search_container {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 8px;
  height: 100%;
  border-bottom: 1px solid var(--lines-color, #dfdfdf);
  border-radius: 8px 8px 0px 0px;
}

#search_query {
  height: 100%;
  width: 100%;
  border: none;
  font-weight: 600;
  color: var(--body-text, #e9e3e3);
  background-color: transparent;
}
#search_query:focus {
  outline: none;
}

select {
  background-color: var(--bg_default, #fff);
  border: none;
  width: 100%;
  font-weight: 600;
  color: var(--body-text, #000);
}
.filter_sort_label {
  font-size: 0.6em;
}
option {
  font-size: 1em;
}
.filter_sort_container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: var(--bg_default, #fff);
  border-radius: 0px 8px 8px 8px;
}
.sort {
  border-right: 1px solid var(--lines-color, #dfdfdf);
}
.filter_sort {
  display: flex;
  flex-flow: column nowrap;
  padding: 8px;
  font-weight: 600;
  justify-content: center;
}

.body-section {
  margin: 16px;
}
.results-title {
}
.body-section > p {
  font-weight: 900;
  font-size: 1.3em;
  margin: 20px 0px;
}
