@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;600;800&display=swap");
:root {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #fff;
  --bg_body: #f0f9ff;
  --lines-color: #ddd;
  --body-text: #333;
  --heart-color: #dc143c;

  font-family: "Nunito Sans", sans-serif;
}
